.navbar-fixed-top .nav {
    padding: 15px 0;

}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-brand img {
    padding-right: 10px;
}


body {
	background: url(../img/bg.jpg) left top repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    margin-top: 100px;
}


/***** Footer *****/

footer {
	padding-bottom: 70px;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #ddd;
}

footer a:hover, footer a:focus { border-bottom: 1px dotted #19b9e7; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media(min-width:768px) {
    body {
        padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}


@media (max-width: 767px) {
	
	.middle-border { min-height: auto; margin: 60px 30px 0 30px; border-right: 0; border-top: 1px solid #ddd; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}
